<form class="row">
    <div class="col-md-2">
        <label for="operando_a" class="form-label">Operando A</label>
        <input type="number" id="operando_a" class="form-control" [(ngModel)]="operandoA" 
            name="operando_a">
    </div>
    <div class="col-md-2">
        <label for="operando_b" class="form-label">Operando B</label>
        <input type="number" id="operando_b" class="form-control" [(ngModel)]="operandoB" 
            name="operando_b">
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary" (click)="sumar()">Sumar</button>
    </div>

</form>